doctype 5
html
  head
    include style.styl
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="jquery.slides.min.js")
    include bin/main.js
    script(src="//elfinnflight.com/api/read/json?type=photo&callback=photosCallback")
    script(src="//elfinnflight.com/api/read/json?type=text&callback=textCallback")
  body
    #header
      div 
        a(href="//elfinnflight.com/") ELIZABETH FINN AERIALIST
    #texts
    #photos